
span, div {
    background-color: rgb(196, 219, 134); 
    border:1px solid rgb(129, 129, 85)
}

/* relative */
.top {
    position:relative;
    top: 5px;
    z-index: 1;
}
.bottom {
    position:relative;
    bottom: 5px;
}
.left {
    position:relative;
    left: 5px;
}
.right {
    position:relative;
    right: 5px;
}

/* absolute */
#absolute{
    background-color: rgb(138, 165, 65);
    position: absolute;
    right:0;
}

#parent {
    background-color: rgb(121, 145, 56);
    position: relative;
    width: 100px;
    height: 100px;
}

#child {
    background-color: rgb(207, 235, 51);
    position: absolute;
    right:0;
}


/* fixed */
#fixed{
    position: fixed;
    right:0;
}